{% extends 'base.html' %}

{% block page_title %}View Accounts{% endblock %}
{% block page_heading%}View Accounts{% endblock %}
{% block app_name %}Finance{% endblock %}

{% block content %}
<p>
    <a class="btn btn-success" href="{% url 'create_or_edit_account' %}" role="button">Create Account</a>
</p>
<div class="table-responsive">
    <table id="transTable" class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Balance</th>
            <th>Currency</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
            <tr>
                <td>{{ account.name }}</td>
                <td>{{ account.description }}</td>
                <td id="acc_balance{{ account.id }}">{{ account.balance }}</td>
                <td>{{ account.currency }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a type="button" href="{% url 'delete_account' account.id %}" class="btn btn-danger">Remove</a>
                        <a type="button" href="{% url 'create_or_edit_account' account.id %}" class="btn btn-info">Edit</a>
                        <a type="button" href="{% url 'view_detailed_account' account.id %}" class="btn btn-success">View</a>
                    </div>
                </td>
            </tr>
            <script>
                $( document ).ready(function() {
                    $.ajax({
                       url: "{% url 'accounts_view' %}",
                       success:function(data){
                           $('#acc_balance{{ account.id }}').replaceWith($('#acc_balance{{ account.id }}',data));
                       },
                  });
                });  
                </script>
            {% endfor %}
        </tbody>
    </table>
</div>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
<script>
    $(document).ready( function () {

    $('#transTable').DataTable( {
    ordering: false
} );
} );
</script>
{% endblock %}