{% extends 'base.html' %}

{% block page_title %}View Periods{% endblock %}
{% block page_heading%}View Periods{% endblock %}
{% block app_name %}Finance{% endblock %}

{% block content %}
<p>
    <a class="btn btn-success" href="{% url 'create_or_edit_period' %}" role="button">Create Period</a>
</p>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            {% for period in periods %}
            <tr>
                <td>{{ period.name }}</td>
                <td>{{ period.startDate }}</td>
                <td>{{ period.endDate }}</td>
                <td>{{ period.status }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a type="button" href="{% url 'delete_period' period.id %}" class="btn btn-danger">Remove</a>
                        <a type="button" href="{% url 'create_or_edit_period' period.id %}" class="btn btn-info">Edit</a>
                        <a type="button" href="{% url 'view_detailed_period' period.id %}" class="btn btn-success">View</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}